[package]
name = "rust"
version = "0.1.0"
authors = [ "looksky495 <looksky603@gmail.com>" ]
description = "WASM module for NDV Ticker Extension"
license = "MIT/Apache-2.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
